.sidebar {
    width: 220px;
    min-height: calc(100vh - 70px);
  
    background-color: #1e293b;
  
    display: flex;
    flex-direction: column;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
  
    padding: 15px 20px;
  
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #334155;
  }
  
  .sidebar a.active {
    background-color: #2563eb;
  }